<section class="check">
  <div class="container">
    <h2 class="check-title">Перевірка тествого завдання</h2>

    <div class="check-wrapper">
      <img src="./images/check-img.jpg" alt="men" />
      <div class="text-box">
        <p>
          Ми цінуємо ваш час та зусилля, тому намагаємося забезпечити оперативну
          відповідь на ваші тестові роботи. Наша команда керівників та
          співробітників займається перевіркою усіх робіт ВРУЧНУ перевіряє всі
          роботи, гарантуючи високу якість оцінки.
        </p>

        <b
          >На першому етапі вашу роботу перевірить керівник відділу розвитку
          талантів — Олена.</b
        >

        <p>
          Перевірку другого етапу, в залежності від посади на яку ви
          претендуєте, буде здійснювати керівник відповідного відділу
          (наприклад, керівник відділу верстки у разі подання заявки на посаду
          верстальника).
        </p>

        <p>
          Ми розуміємо, як важливо для вас отримати швидку відповідь, тому
          перевіряємо ваші <b>тестові завдання</b> навіть після завершення
          робочого дня. Наша команда цінує кожного потенційного кандидата і
          робить усе можливе, щоб забезпечити ретельну оцінку ваших здібностей
          та швидко повідомити результат.
        </p>
      </div>
    </div>
  </div>
</section>
