<section class="hero">
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="main-slide">
            <img src="./images/hero/img1.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img2.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img3.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img4.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img5.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img6.png" alt="part-img" class="part-img" />

            <div class="hero-text-box">
              <p class="hero-text">Вебстудія №1 з розробки сайтів</p>
              <h1 class="hero-title">Приєднуйтесь до нашої IT-команди</h1>
              <p class="hero hero-text">
                Відкрийте нові перспективи кар'єрного зростання, приєднавшись до
                нашої інноваційної IT-команди, яка відкриває двері до безмежних
                можливостей
              </p>
            </div>

            <button class="btn-hero">Спробуй свої сили</button>

            <button class="hero-down-btn">
              <span>Дізнатися більше</span
              ><img src="./images/arrow.svg" alt="" />
            </button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slide">
            <img src="./images/hero/img1.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img2.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img3.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img4.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img5.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img6.png" alt="part-img" class="part-img" />

            <div class="hero-text-box">
              <p class="hero-text">Вебстудія №1 з розробки сайтів</p>
              <h1 class="hero-title">Приєднуйтесь до нашої IT-команди</h1>
              <p class="hero hero-text">
                Відкрийте нові перспективи кар'єрного зростання, приєднавшись до
                нашої інноваційної IT-команди, яка відкриває двері до безмежних
                можливостей
              </p>
            </div>

            <button class="btn-hero">Спробуй свої сили</button>

            <button class="hero-down-btn">
              <span>Дізнатися більше</span
              ><img src="./images/arrow.svg" alt="" />
            </button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="main-slide">
            <img src="./images/hero/img1.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img2.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img3.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img4.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img5.png" alt="part-img" class="part-img" />

            <img src="./images/hero/img6.png" alt="part-img" class="part-img" />

            <div class="hero-text-box">
              <p class="hero-text">Вебстудія №1 з розробки сайтів</p>
              <h1 class="hero-title">Приєднуйтесь до нашої IT-команди</h1>
              <p class="hero hero-text">
                Відкрийте нові перспективи кар'єрного зростання, приєднавшись до
                нашої інноваційної IT-команди, яка відкриває двері до безмежних
                можливостей
              </p>
            </div>

            <button class="btn-hero">Спробуй свої сили</button>

            <button class="hero-down-btn">
              <span>Дізнатися більше</span
              ><img src="./images/arrow.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
